/GradleBuildFile.java
/IdeProjectDescriptor.java
/P2RepositoryProject.java
/ParentProjectDescriptor.java
/PomFile.java
/ProjectDescriptor.java
/RuntimeProjectDescriptor.java
/SdkFeatureProject.java
/TargetPlatformProject.java
/TestProjectDescriptor.java
/UiProjectDescriptor.java
/WebProjectDescriptor.java
/.GradleBuildFile.java._trace
/.GradleBuildFile.xtendbin
/.IdeProjectDescriptor.java._trace
/.IdeProjectDescriptor.xtendbin
/.P2RepositoryProject.java._trace
/.P2RepositoryProject.xtendbin
/.ParentProjectDescriptor.java._trace
/.ParentProjectDescriptor.xtendbin
/.PomFile.java._trace
/.PomFile.xtendbin
/.ProjectDescriptor.java._trace
/.ProjectDescriptor.xtendbin
/.RuntimeProjectDescriptor.java._trace
/.RuntimeProjectDescriptor.xtendbin
/.SdkFeatureProject.java._trace
/.SdkFeatureProject.xtendbin
/.TargetPlatformProject.java._trace
/.TargetPlatformProject.xtendbin
/.TestProjectDescriptor.java._trace
/.TestProjectDescriptor.xtendbin
/.UiProjectDescriptor.java._trace
/.UiProjectDescriptor.xtendbin
/.WebProjectDescriptor.java._trace
/.WebProjectDescriptor.xtendbin
